body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2225;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    width: 620px;
    height: 380px;
    margin: 100px auto;
    background-color: #ffdcac;
    border-radius: 25px;
    border: 5px solid #ffa321;
    filter: drop-shadow(0px 0px 15px #ffa321);
}

.base1 {
    width: 100%;
    margin: 0;
    display: block;
    float: none;
    border-radius: 20px;
}

.base2 {
    width: 100%;
    margin: 0;
    display: block;
    float: none;
    border-radius: 20px;
    margin-top: -20px;
}

.projTitle {
    font-size: 56px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #3300ff;
    background: white;
    font-size: 34px;
    color: navy;
    border-radius: 20px 20px 0 0;
}
.title {
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: #1073d0;
}

.fields {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#date {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #ffdcac;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 20px;
    color: #1073d0;
    font-size: 17px;
    margin-right: 10px;
}
#date:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}

#month{
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #ffdcac;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 20px;
    color: #1073d0;
    font-size: 17px;
    margin-right: 10px;
}
#month:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}

#year {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #ffdcac;
    padding: 12px;
    background-color: #f7f7f7;
    border-radius: 20px;
    color: #1073d0;
    font-size: 17px;
}
#year:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}

input[type="button"] {
    width: 150px;
    margin-left: 35%;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #ff9500;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
}
input[type="button"]:hover {
    background-color: #ffb855;
}
#age {
    display: block;
    margin: 10px;
    margin-top: 15px;
    padding: 10px;
    padding-bottom: 20px;
    font-family: verdana;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: #ff9500;
    border: 2px solid orange;
    border-radius: 20px;
    text-align: center;
    height:35px;
    background: rgb(255, 255, 255);
}
